.wrapper {
  font-size: 18px;
  position: relative;
  cursor: text;
  overflow: hidden;
  letter-spacing: normal;

  &,
  & * {
    box-sizing: border-box !important;
  }

  input {
    padding: 0 !important;
    outline: 0 !important;
    border: 0 !important;
    color: currentColor !important;
    font: inherit !important;
    letter-spacing: inherit !important;
    width: 100% !important;
    height: 100% !important;
    caret-color: transparent !important;
  }

  .caret {
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 1em;
    background-color: currentColor;
    border-color: currentColor;
    visibility: hidden;
    animation: caretPulse 1s infinite;
  }

  .measurementField {
    font: inherit !important;
    width: fit-content !important;
    visibility: hidden !important;
    position: absolute !important;
    letter-spacing: inherit !important;
    margin: 0 !important;
  }
}

@keyframes caretPulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
